{{- define "main" }}
<head>
    <style>
        body {
            text-align: center;
            padding: 40px 0;
        }
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h1>Oops!</h1>
    <p>We searched high and low but couldn't find what you're looking for. Let's not blame each other.</p>
    <p>Why not try a search, or start from the <a href="/" > <u>homepage</u> </a>?</p>
    <p>Or just enjoy this joke:</p>
    <p><em>"Why was the computer cold? Because it left its Windows open!"</em></p>
</body>
{{- end }}
